#### Part-2 | Segmenting and Clustering Neighborhoods in Toronto

1. Start by creating a new Notebook for this assignment.
2. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe. For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.
3. To create the above dataframe:
    - The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood.
    - Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
    - More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
    - If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
    - Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
    - In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [1]:
# Install & Import Necessary Libraries
!pip install geocoder
print("Installed")

Requirement already satisfied: geocoder in /Users/maple_kimchi/opt/anaconda3/lib/python3.7/site-packages (1.38.1)
Requirement already satisfied: ratelim in /Users/maple_kimchi/opt/anaconda3/lib/python3.7/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: future in /Users/maple_kimchi/opt/anaconda3/lib/python3.7/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: six in /Users/maple_kimchi/opt/anaconda3/lib/python3.7/site-packages (from geocoder) (1.14.0)
Requirement already satisfied: requests in /Users/maple_kimchi/opt/anaconda3/lib/python3.7/site-packages (from geocoder) (2.22.0)
Requirement already satisfied: click in /Users/maple_kimchi/opt/anaconda3/lib/python3.7/site-packages (from geocoder) (7.0)
Requirement already satisfied: decorator in /Users/maple_kimchi/opt/anaconda3/lib/python3.7/site-packages (from ratelim->geocoder) (4.4.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/maple_kimchi/opt/anaconda3/lib/python3.7/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/maple_kimchi/opt/anaconda3/lib/python3.7/site-packages (from requests->geocoder) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/maple_kimchi/opt/anaconda3/lib/python3.7/site-packages (from requests->geocoder) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/maple_kimchi/opt/anaconda3/lib/python3.7/site-packages (from requests->geocoder) (2.8)
Installed

In [9]:
import pandas as pd
import numpy as np
import geocoder
print("Imported!")

Imported!

In [5]:
# Referring to the Dataframe that was saved in Part 1
df = pd.read_csv('toronto.csv')
df.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [6]:
print(df.shape)
df.describe()

(103, 3)

       Postalcode     Borough Neighborhood
count         103         103          103
unique        103          10           98
top           M3L  North York    Downsview
freq            1          24            4

In [7]:
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.70941386000004, -79.36309957799995]

In [10]:
# Retrieving Postal Code Co-ordinates
postal_codes = df['Postalcode']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]

In [11]:
# Adding Columns Latitude & Longitude
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [12]:
df[df.Postalcode == 'M5G']
df.head(15)

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.808626,-79.189913
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.785779,-79.157368
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765806,-79.185284
3,M1G,Scarborough,Woburn,43.771545,-79.218135
4,M1H,Scarborough,Cedarbrae,43.768791,-79.238813
5,M1J,Scarborough,Scarborough Village,43.744203,-79.228725
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.726881,-79.265694
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.713340,-79.284942
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.723538,-79.228353
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.696448,-79.265642
10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.761310,-79.269940
11,M1R,Scarborough,"Wexford, Maryvale",43.750043,-79.300537
12,M1S,Scarborough,Agincourt,43.793930,-79.265694
13,M1T,Scarborough,"Clarks Corners, Tam O'Shanter, Sullivan",43.784902,-79.304725
14,M1V,Scarborough,"Milliken, Agincourt North, Steeles East, L'Amo...",43.817998,-79.280887

In [13]:
df.to_csv('toronto_part2.csv',index=False)